/* 
appears in component order: 
question - status bar - timer - panic mode - right/wrong markers - end screens - landing page 
*/

body {
    height: 100vh;
    font-family: "Roboto";
}

/* question related */

.question-wrapper { /* for centering purposes */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%; /* nudge question box towards top */
}
.question-box {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    gap: 30px;
    position: relative; /* for placement of right-wrong marker above it */
    opacity: 1; 
    transition: opacity 5s ease-out; /* for panic mode fade away */
}

.question-text {
    font-size: 1.9rem;
    line-height: 2.4rem;
    letter-spacing: .5px;    
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.answer-box {
    display: flex;
    align-items: center;
}

.answer-box:hover, .btn:hover {
    cursor: pointer;
}

.answer-text {
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    padding: 1rem;
    width: 220px;
}

.answer-letter {
    margin-right: 14px;
    font-size: 1.1rem;
}

.btn {
    background: #65558F;
    color: white;
    border-radius: 50px;
    padding: 12px 24px;
    border: none;
    font-size: 1.1rem;
}

.btn-wrapper {
    margin-top: 30px;
    text-align: center;
}

.btn-answer {
    text-align: center;
    margin-left: -2rem;
}

.selected {
    font-weight: bold;
}

.selected .answer-text {
    background: #f5f5f5;
}


/* status bar */

.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute; /* to keep the question box center of screen */
    width: 100%
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.heart-container {
    display: flex;
    gap: 16px;
}
.durian-container {
    display: flex;
    gap: 8px;
}
.chillicrab-container {
    display: flex;
    gap: 12px;
}
.heart {
    background-image: url('images/heart2-icon.png');
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

.durian {
    background-image: url('images/durian3-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    &:hover { 
     cursor: pointer;   
    }    
}

.chillicrab {
    background-image: url('images/chillicrab2-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    &:hover { 
        cursor: pointer;   
    }      
}

/* timer */

.timer-text {
    padding: 20px;
    font-size: 1rem;
}

.timer-box {
    margin-right: 40px;
    width: 160px; 
    height: 160px;
}

circle {
    transition: all 1s linear;
}
  
.timer-circle {
    transition: all 1s linear;
    stroke: #FF9F39;
    stroke-width: 6;
    stroke-linecap: butt;
    fill: transparent;
}

/* panic mode */

.panic-red {
    background: red;
}
.panic-red-svg {
    stroke: red;
}
.panic-fade {
    opacity: .1;
}
.return-from-fade {  /* bring opacity:1 back immediately */
    transition: none;
    opacity: 1
}

.frantic-bounce {
    animation: frantic-bounce 0.5s ease-in-out infinite;
}

@keyframes frantic-bounce {
    0% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}



/* right-wrong markers */

#right-wrong-marker {
    display: none;
    position: absolute; /* dont want it to move other element around */
    top: -33%; /* always appear above the question text */
    right: 45%;
}

.checkmark {
    background-image: url('images/correct-check.png');
    background-size: contain;
    width: 6rem;
    height: 6rem;    
}

.xmark {
    background-image: url('images/incorrect-x.png');
    background-size: contain;
    width: 6rem;
    height: 6rem;
}


/* end screens/ notice screens */

.end-screen-wrapper, .dismissable-notice-wrapper { /* for centering reasons, like .question-wrapper */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    display:none;
}

.dismissable-notice-wrapper {
    height: 90%;
}

.end-screen, .dismissable-notice {
    letter-spacing: .8px;
    background: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }  

  .end-screen p, .dismissable-notice p {
    font-size: 1.4rem;
    max-width: 640px;
    line-height: 2.1rem;
    text-align: left;
  }

  .dismissable-notice p {
    text-align: center;
  }

  .end-screen h2, .dismissable-notice h2 {
    font-size: 2.1rem;
    font-weight: 300;
  }

  .end-screen .btn {
    letter-spacing: 0px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 400;
  }

  .end-screen-flair {
    height: 400px;
    width: 400px;     
    background-size: contain;
    background-repeat: no-repeat;     
    margin-top: 3rem;
  }

  .win-screen-img {
    background-image: url('images/win-screen-img.png');  
  }

  .lose-screen-img {
    background-image: url('images/lose-screen-img.png');
    height: 150px;
    width: 150px;
  }

  .heart-larger {
    background-image: url('images/heart2-icon.png');
    background-size: contain;
    width: 5rem;
    height: 5rem;
}

.durian-larger {
    background-image: url('images/durian3-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
}

.chillicrab-larger {
    background-image: url('images/chillicrab2-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
}
.yandao {
    background-image: url('images/yandao.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
}

/* landing page related */
.landing-wrapper {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;    
    text-align: center;
    padding-top: 40px;
    display: flex;

}
.landing-title {
    font-size: 5rem;
    line-height: 6.4rem;
    letter-spacing: 3.1px;  
    font-family: "Playfair", serif;
    max-width: 580px;
    margin: 0 auto;
    font-weight: 500
}
.landing-subtitle {
    font-size: 1.5rem;
    font-family: 'Roboto';
    letter-spacing: .7px;
    font-weight: 300;
    margin-bottom: 40px;
}
.action-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-quiz-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.choose {
    font-weight: 200;
}
.quiz-option {
    border: 1px solid #d9d9d9;
    padding: 18px 26px;
    &:hover {
        cursor: pointer;
    }
}
.landing-wrapper .btn {
    font-family: 'Roboto';
    font-weight: 200;
    width: 100px;
}

.bottom-image {
    background-image: url('images/fly-io-placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;    
    width: 100%;
    min-height: 400px;
    display: none;
}

.image-set {
    display: flex;
}
/* .image-set-left {
    flex-wrap: wrap;
    max-height: 600px;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 2rem;
    gap: 5px;
}

.image-set-right {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;    
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 2rem;
} */

.landing-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.05);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
    object-fit: contain;
}

#sg-name {
    /* color: red; */
}

/* hot streak */

.jf {
    height: 160px;
    width: 160px;
    background-size: contain;
    background-repeat: no-repeat;  
    position: absolute; /* required for animations */
    z-index: -1; /* go behind various UI elements for now */
}
.jf-right {
    background-image: url('images/jf-right.png');
    animation:
        moveAcrossRight 10s linear infinite,
        chickenBobble 0.5s ease-in-out infinite alternate;
}
.jf-left {
    background-image: url('images/jf-left.png');
    animation:
        moveAcrossLeft 10s linear infinite,
        chickenBobble 0.5s ease-in-out infinite alternate;
}
.junglefowl-zone {
    position: absolute; /* because question wrapper dominates screen */
    bottom: 20%;
}

/* left: -50px means the far LEFT, and left 100vm means the far RIGHT */
/* must use same property (eg 'left') throughout animation */

@keyframes moveAcrossRight {
    0% { 
        left: -50px; 
    } 
    100% { 
        left: 100vw;
    } 
  }
@keyframes moveAcrossLeft {
    0% { 
        left: 100vw; 
    } 
    100% { 
        left: -50px; 
    }
}
@keyframes chickenBobble {
    0% { 
        transform: translateY(0) rotate(-5deg);
    }
    100% { 
        transform: translateY(-5px) rotate(5deg); 
    }
}
  